#login {
    display: none;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

/* Bordered form */
form {
  border: 0px;
}

body {
    background-color: wheat;
}

/*--- navigation bar ---*/  
.navbar {
  background:#222;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: rgb(144, 216, 27);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav.navbar-dark {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.navbar .navbar-nav {
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-toggle {
  float: none;
  vertical-align: top;
}
.navbar-toggler {
  position: inherit;
  left: 49%;
  transform: translatex(-51%);
}
