tbody
{ 
    display: inline-block; 
}
tbody 
{ 
    max-height: 500px; 
    overflow-y: scroll; 
    width: 100%; 
}

table, th, td {
    border: 1px solid black;
}
table {
  table-layout: fixed ;
  width: 100% ;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:hover {background-color: #f5f5f5;}
td {
  width: 25% ;
}
#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.block {
  display: inline-block;
  width: 45%;
  border: none;
  background-color: darkblue;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
form {
  border: 0px;
}
.btnSearch {
  background: gray;
}